# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules

# Output of 'npm pack'
*.tgz

# Build output
packages/*/lib

resources

# Jest test coverage output:
packages/*/coverage
*/**/.DS_Store
